<script type="text/javascript" th:src="@{/lib/jquery/1.9.1/jquery.min.js}" src="lib/jquery/1.9.1/jquery.min.js"
        xmlns:th="http://www.thymeleaf.org"></script>
<script type="text/javascript" th:src="@{/lib/layer/2.4/layer.js}" src="lib/layer/2.4/layer.js"></script>
 
<script type="text/javascript" th:src="@{/lib/jquery.validation/1.14.0/jquery.validate.js}" src="lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" th:src="@{/lib/jquery.validation/1.14.0/validate-methods.js}" src="lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" th:src="@{/lib/jquery.validation/1.14.0/messages_zh.js}" src="lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript" th:src="@{/h-ui/js/H-ui.js}" src="static/h-ui/js/H-ui.js"></script>
<script type="text/javascript" th:src="@{/h-ui.admin/js/H-ui.admin.page.js}" src="static/h-ui.admin/js/H-ui.admin.page.js"></script>