<!--_meta 作为公共模版分离出去-->
<div th:replace="_meta" xmlns:th="http://www.thymeleaf.org">

</div>
<!--<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="Bookmark" href="favicon.ico" >
<link rel="Shortcut Icon" href="favicon.ico" />
&lt;!&ndash;[if lt IE 9]>
<script type="text/javascript" src="lib/html5.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]&ndash;&gt;
<link rel="stylesheet" type="text/css" href="static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="static/h-ui.admin/css/style.css" />
&lt;!&ndash;[if IE 6]>
<script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script><![endif]&ndash;&gt;-->
<!--/meta 作为公共模版分离出去-->

<title>删除的用户 - 会员管理 - H-ui.admin v3.0</title>
<meta name="keywords" content="H-ui.admin v3.0,H-ui网站后台模版,后台模版下载,后台管理系统模版,HTML后台模版下载">
<meta name="description" content="H-ui.admin v3.0，是一款由国人开发的轻量级扁平化网站后台模板，完全免费开源的网站后台管理系统模版，适合中小型CMS后台系统。">
</head>
<body xmlns:th="http://www.thymeleaf.org">
<!--_header 作为公共模版分离出去-->
<header th:replace="_header" class="navbar-wrapper">

</header>
<!--/_header 作为公共模版分离出去-->

<!--_menu 作为公共模版分离出去-->
<div th:replace="_menu">

</div>
<!--/_menu 作为公共模版分离出去-->

<section class="Hui-article-box">
	<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 用户中心 <span class="c-gray en">&gt;</span> 删除的用户<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
	<div class="Hui-article">
		<article class="cl pd-20">
			<div class="text-c"> 日期范围：
				<input type="text" onfocus="WdatePicker({maxDate:'#F{$dp.$D(\'datemax\')||\'%y-%M-%d\'}'})" id="datemin" class="input-text Wdate" style="width:120px;">
				-
				<input type="text" onfocus="WdatePicker({minDate:'#F{$dp.$D(\'datemin\')}',maxDate:'%y-%M-%d'})" id="datemax" class="input-text Wdate" style="width:120px;">
				<input type="text" class="input-text" style="width:250px" placeholder="输入会员名称、电话、邮箱" id="" name="">
				<button type="submit" class="btn btn-success radius" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜用户</button>
			</div>
			<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a> </span> <span class="r">共有数据：<strong>88</strong> 条</span> </div>
			<div class="mt-20">
			<table class="table table-border table-bordered table-hover table-bg table-sort">
				<thead>
					<tr class="text-c">
						<th width="25"><input type="checkbox" name="" value=""></th>
						<th width="80">ID</th>
						<th width="100">用户名</th>
						<th width="40">性别</th>
						<th width="90">手机</th>
						<th width="150">邮箱</th>
						<th width="">地址</th>
						<th width="130">加入时间</th>
						<th width="70">状态</th>
						<th width="100">操作</th>
					</tr>
				</thead>
				<tbody th:each="user : ${users}">
					<tr class="text-c">
						<td><input type="checkbox" value="1" name=""></td>
						<td><span th:text="${user.userId}">1</span></td>
						<td><u style="cursor:pointer" class="text-primary" th:userId="${user.userId}" onclick="member_show('张三','member-show',this.getAttribute('userId'),'360','400')"><span th:text="${user.username}">张三</span></u></td>
						<td><span th:text="${user.gender}">男</span></td>
						<td><span th:text="${user.tel}">13000000000</span></td>
						<td><span th:text="${user.email}">admin@mail.com</span></td>
						<td class="text-l"><span th:text="${user.address}">北京市 海淀区</span></td>
						<td><span th:text="${user.addTime}">2014-6-11 11:11:42</span></td>
						<td class="td-status"><span class="label label-danger radius">已删除</span></td>
						<td class="td-manage"><a style="text-decoration:none" href="javascript:;" th:userId="${user.userId}" onClick="member_huanyuan(this,this.getAttribute('userId'))" title="还原"><i class="Hui-iconfont">&#xe66b;</i></a> <a title="删除" href="javascript:;" th:userId="${user.userId}" onclick="member_del(this,this.getAttribute('userId'))" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
					</tr>
				</tbody>
			</table>
			</div>
		</article>
	</div>
</section>
<!--_footer 作为公共模版分离出去-->
<div th:replace="_footer">

</div>
<!--/_footer /作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
$(function(){
	$('.table-sort').dataTable({
		"aaSorting":
            [
		        [
		            1, "desc"
                ]
            ],//默认第几个排序
		"bStateSave": true,//状态保存
		"aoColumnDefs": [
		  //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
		  {"orderable":false,"aTargets":[0,8,9]}// 制定列不参与排序
		]
	});
	$('.table-sort tbody').on( 'click', 'tr', function () {
		if ( $(this).hasClass('selected') ) {
			$(this).removeClass('selected');
		}
		else {
			table.$('tr.selected').removeClass('selected');
			$(this).addClass('selected');
		}
	});
});

/*用户-还原*/
function member_huanyuan(obj,id){
	layer.confirm('确认要还原吗？',function(index){
		$.ajax({
			url:'member_return',
			type:'post',
			data:{
				userId:id
			},
			success:function (res) {
				if (res.result) {
                    layer.msg('已还原!',{icon: 6,time:1000});
                    $(obj).parents("tr").remove();
                    // $(obj).remove();
				}else {
					layer.msg('还原失败!',{icon: 6,time:1000});
				}
			}
		});
	});
}

/*用户-删除*/
function member_del(obj,id){
	layer.confirm('确认要删除吗？',function(index){

		$.ajax({
			url:'member-del',
			type:'post',
			data:{
				userId:id
			},
			success:function (res) {
				if (res.result) {
                    layer.msg('已删除!',{icon:1,time:1000});
                    $(obj).parents("tr").remove();
				}else {
					layer.msg('删除失败!',{icon:1,time:1000});
				}
			}
		});
	});
}
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>